%flex-align{
    display: flex;
    align-items: center;
}

.card-emploi{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1em;
    margin: .5em 0;
    border-radius: 0 .5em .5em 0;
    border-left: 5px solid var(--blue-color);
    box-shadow: 2px 2px 2px RGBA(0, 0, 0, 0.05);
    transition: all .5s;
    align-items: center;

    @media (max-width: 968px){
        flex-direction: column;
        border-radius: 0 .5em .5em 0;
    }

    &:hover{
        box-shadow: 2px 2px 2px RGBA(0, 0, 0, 0);
        transform: translate(5px)
    }

    strong{
        color: var(--blue-color)
    }

    .info{
        flex-basis: 25%;
        margin: 0 .25em;
        font-size: .9em;
        @extend %flex-align;

        &.titre{
            font-size: 1.0em;
        }

        &.quantite{
            flex-basis: 10%;
        }

        &.ville{
            flex-basis: 10%;
        }

        &.description{
            text-align: center;
        }

        &.candidat{
            flex-basis: 10%;
            background-color: var(--blue-color);
            color: white;
            display: flex;
            justify-content: center;
            border-radius: 5em;
            max-height: 3em;
            padding: 0.5em 0;

            @media (max-width: 968px){
                width: 50%;
                margin: 1em 0;
            }

            &.inactive{
                background-color: var(--gray-color);
                color: var(--blue-color);
            }

        }

    }

    .action-wrap{
        @extend %flex-align;
        a{
            margin: 0 .5em;
        }
        .icon{
            cursor: pointer;
        }
    }

}