.container.home{
    h2{
        color: var(--blue-color);
    }
    .custom-button{
        @media (max-width: 968px){
            position: fixed;
            bottom: -10px;
            right: 1em;
        }
    }
    .wrap-card:last-of-type{
        @media (max-width: 968px){
            margin-bottom: 5em;
        }
    }
}