.modal{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;

    .content-wrap{
        position: absolute;
        background-color: white;
        padding: 2em;
        z-index: 1;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: .5em;

        @media (max-width: 968px){
            margin-top: 20%;
            width: 70%;
        }

        .message{
            margin-bottom: .5em;
        }

        .custom-button {
            @media (max-width: 968px){
                width: 100%;
                margin: .25em 0;
            }
        }

    }

    .background{
        background-color: RGBA(0,0,0,0.5);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

}