.container.header{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1em 5%;

    a{
        margin: 0 .5em;
        color: var(--blue-color);
    }

    .logo{
        width: 75px;
        margin-right: 2em;
    }

}