.close-button{
    background-color: var(--blue-color);
    color:white;
    width: 30px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -35px;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
    transition: all .25s;

    &:hover{
        transform: rotate(50deg);
    }

}