.custom-input{
    position: relative;
    display: inline-flex;

    @media (max-width: 968px){
        margin: 1em 0;
    }

    &.small{
        flex-basis: 10%;
    }

    label{
        font-size: .8em;
        position: absolute;
        left: 0;
        top: 0;
    }
    input{
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid grey;
        margin-top: 1.5em;
        padding: 1em;
    }
}

.custom-input + .custom-input{
    margin-left: .5em;

    @media (max-width: 968px){
        margin-left: 0;
    }

}