.new-poste{
    background-color: transparent;

    .new-form{
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 968px){
            flex-direction: column;
        }

    }

    .error-wrap{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        color: red;
        margin: 1em 0;
        font-size: .8em;
    }

}