.custom-button{
    background-color: var(--blue-color);
    color: white;   
    padding: .75em 2em;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: all .5s;

    @media (max-width: 968px){
        font-size: 1em;
        padding: 1em 2em;
    }

    &.notfeatured{
        background-color: #b9b9b9;
        color: white;
    }
    
    &:hover{
        opacity: .7;
    }

}

.custom-button + .custom-button{
    margin-left: .25em;
}